.controlPanel {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    grid-template-rows: 1fr 7fr 1.4fr;
    gap: 10px;
}
.controlPanel > div {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--tertiary);
}
.headingArea {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
.heading {
    color: var(--text);
    font-family: var(--ff1);
    width: 100%;
    text-align: center;
}

.fncInputArea {
    display: flex;
    justify-content: center;
    align-items: center;
}
.fncInputArea > h2 {
    color: var(--text);
    font-style: italic;
    font-family: 'Times New Roman', serif;
    font-size: 1.3dvw;
    text-align: center;
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fncInput {
    width: 50%;
    height: 50%;
    background: var(--bg);
    border: none;
    border-radius: 5px;
    color: var(--text);
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    padding-left: 10px;
    outline: none;
}

.fncInputArea > button {
    width: 25px;
    height: 25px;
    border: none;
    margin-left: 10px;
    background: var(--bg);
    border-radius: 100%;
    box-shadow: 0 0 5px var(--hover);
}

.fncInputArea > button:hover {
    background: var(--hover);
    transition: linear .2s;
}

.buttonHolder {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.generateButton {
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: var(--theme);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--theme);
}
.generateButton > h5 {
    width: 60%;
    height: 100%;
    font-family: var(--ff1);
    color: var(--text);
    font-size: 1.2dvw;
    text-align: center;
    display: grid;
    place-items: center;
}
.generateButton > div {
    width: 20%;
    height: 60%;
}
.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.limitOptionsContainer {
    width: 80%;
    height: 10%;
    background: var(--secondary);
    border-radius: 99999rem;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 3px;
    padding: 3px;
}

.hide {
    display: none;
}

.lbllimitOption {
    width: 100%;
    height: 100%;
    background: var(--secondary);
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text);
    font-family: var(--ff1);
    font-weight: 700;
    font-size: 1.2dvw;
}

input[type="radio"].hide:checked + .lbllimitOption {
    background: var(--tertiary);
}

.manualControlsContainer  {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.autoControlledMsg {
    width: 50%;
    text-align: center;
    color: var(--text);
    font-family: var(--ff1);
    font-weight: 700;
    font-size: 1.3dvw;
    cursor: none;
}
.manualControlsGrid {
    display: grid;
    width:80%;
    height: 70%;
    grid-template-columns: 1fr;
}

.inputContainer {
    width: 100%;
    height: 100%;
}

.numericInputLabels {
    color: var(--text);
    width: 100%;
    font-family: var(--ff1);
    font-size: 1.2dvw;
    height: 20%;
}

.numericInputs {
    width: 100%;
    height: 40%;
    margin-top: 8px;
    background: var(--bg);
    border: none;
    border-radius: 5px;
    color: var(--text);
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 10px;
    outline: none;
}