.text {
  color: var(--text);
}
::placeholder {
  text-align: center;
}

.dcenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.gridContainer {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template: 1.5fr 7fr / 1fr;
  gap: 5px;
}
.controls > form {
  width: 100%;
  height: 100%;
}
.chunks {
  width: 100%;
  height: 100%;
  background: var(--tertiary);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expression-container {
  flex-direction: row;
}

.fx-label {
  font-size: 1.4rem;
  font-style: italic;
  margin-right: 1cqw;
}

.expression-input {
  color: var(--text);
  background: var(--bg);
  border: 1px solid var(--theme);
  outline: none;
  width: 23cqw;
  height: 4cqh;
  font-style: italic;
  font-family: serif;
  font-size: 2cqh;
  border-radius: 8px;
  padding-left: 10px;
  caret-color: var(--text);
}

.controls-container {
  width: 100%;
  height: 5cqh;
  margin-top: 2cqh;
}
.switch_Control {
  width: 30%;
  height: 100%;
  background: var(--theme);
  border: none;
  color: var(--text);
  font-family: var(--ff1);
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
  overflow: hidden;
  }

.label {
  width: 100%;
  height: 100%; 
}
.label > div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.IconContainer {
  width: 20%;
  height: 60%;
}
.modeLabel {
  font-size: 1.2rem;
  padding: 5px;
  width: 20%;
}

.modeOptions {
  height: 50cqh;
  width: 80%;
  border: 2px solid var(--theme);
  border-radius: 2rem;
}

.modeOptionsContainer {
  width: 100%;
  height: 100%;
}

.modeOptionsContainer  h3 {
  color: var(--text);
  font-family: var(--ff1);
  font-size: 1.2rem;
  width: 60%;
  text-align: center;
}

.manualModeContainer {
  width: 100%;
  height: 100%;
}

.submitBtnContainer {
  width: 100%;
  height: 10cqh;
}

.submitBtn {
  width: 50%;
  height: 50%;
  background: var(--theme);
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  border-radius: 10px;
  transition: color .5s linear, background .5s linear, fill .5s linear, scale ease .5s;
}
.submitBtn:hover {
  scale: .95;
}
.submitBtn:active {
  scale: .8;
}
.submitBtnLabel {
  color: var(--text);
  font-family: var(--ff1);
  font-size: 1.3rem;
  width: 40%;
}
@media only screen and (max-width: 1000px) {
  .expression-input {
    width: 50cqw;
  }
  .fx-label {
    margin-right: 3cqw;
  }
  .modeOptions {
    height: 70%;
  }
}
@media only screen and (max-width:400px) {
  .IconContainer {
    display: none;
  }
  .submitBtnLabel {
    width: 100%;
  }
}