body, html, .app, #root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg);
}

.content {
  width: 95%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-columns: 7fr 4.5fr;
  gap: 40px;
  padding: 5px;
}
.content > div  {
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .app {
    display: none
  }
}